@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
}


.calculadora{
    width: 375px;
    height: 500px;
    margin: auto;
    border: 1px solid rgba(83, 83, 83, 0.582);
    box-shadow:5px 5px ;
    text-align: center;
}

#calculadora__resultado{
    width: 335px;
    height: 65px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 45px;
    border: 1px solid black;
    font-size: 50px;
    text-align: right;
}

.calculadora__opciones{
    width: 335px;
    height: 310px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid black;
}

.calculadora__opciones #numeros{
    width: 244px;
    height: 310px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
}

.calculadora__opciones #operadores{
    width: 90px;
    height: 310px;
    display: flex;
    flex-direction: column;
}
.calculadora__opciones #operadores td{
    width: 90px;
    height: 62px;
    font-size: 26px;
    line-height: 2.0;
    border-left: 1px solid #000;
}
td{
    width: 79px;
    height: 75px;
    text-align: center;
    background-color: white;
    font-size: 26px;
    line-height: 3.0;
}
td:hover{
    cursor: pointer;
    background-color: black;
}